
table{
  width:1000px;
  margin-left:20px;
  padding-bottom:50px;
}

th,td {
  padding:0 15px;
  font-size:16pt;
  padding:10px 0!important;
  text-align: center;
  margin:0 10px!important;
}

td {
  border-bottom:1px solid #ccc;
}

td:hover {
  background-color:#ccc;
}